:root {
    --font-title: "Sour Gummy", sans-serif;
    --font-subtitle: "Funnel Sans", sans-serif;
    --color-light-900: aliceblue;
    --color-green-300: #00bf63;
    --color-blue-200: #3f58cb;
    --color-blue-500: #5272ffc0;
    --color-orange-300: #ff914d;
    --color-brown-100: #845104;
    --color-red-100: #d41111;
    --color-black-100: black;
    --bg-video: rgba(0, 0, 0, 0.8);
    --text-shadow: 2px, 2px, 2px;
    --o-animation: scale-change 2.5s ease-in-out infinite;
    ;
}

* {
    margin: 0px;
    padding: 0px;
}

h1 {
    font-family: var(--font-title);
    font-weight: 700;
    color: var(--color-light-900);
}

h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-subtitle);
}

p {
    font-family: var(--font-title);
    font-weight: 100;
}

ul {
    list-style-type: none;
}

.scale-change {
    animation: var(--o-animation);
}

.navbar {
    position: relative;
    top: 20px;
    display: flex;
    margin: auto;
    justify-content: center;
    background-color: var(--color-blue-500);
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 10px;
}

.navbar-nav {
    display: flex;
    margin: auto;
    justify-content: center;
}

.navbar-brand {
    font-size: 40px;
    color: aliceblue;
}

.navbar-brand:hover,
.navbar-brand:focus {
    font-size: 40px;
    color: var(--color-blue-500)
}

.navbar-toggler {
    box-shadow: none !important;
    border-color: var(--color-red-100);
    border-width: 2px;
    background-color: var(--color-red-100);
}

.bi-filter-right {
    color: var(--color-light-900);
    font-size: 25px;
}

.nav-item {
    margin: auto;
    text-align: center;
}

.nav-item a {
    font-family: var(--font-title);
    font-weight: 200;
    color: aliceblue;
    font-size: 25px;
}

.nav-item a:hover,
.nav-item a:focus {
    color: var(--color-blue-500);
}

.first-page {
    min-height: 100vh;
    position: relative;
    top: 0;
}

.first-page::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: var(--bg-video);
    z-index: -1;
}

.first-page-video {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.cta {
    width: 100%;
    min-height: 80vh;
    margin: auto;
    margin-top: 3%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.cta h1 {
    color: var(--color-light-900);
    font-weight: 700;
    text-shadow: 2px 2px var(--color-blue-500);
}

.second-page {
    min-height: 100vh;
    position: relative;
    top: 0;
    background-color: var(--color-orange-300);
}

.cards-characters {
    min-height: 95vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
}

.card {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card img {
    cursor: pointer;
    filter: brightness(0.7);
    transition: 0.7s;
    border-radius: 3%;
    ;
}

.card img:hover {
    filter: brightness(1);
}

.third-page {
    min-height: 100vh;
    position: relative;
    top: 0;
    display: flex;
    gap: 10px;
}

.caroulsel-grid {
    min-height: 95vh;
    width: 50%;
    display: flex;
    align-items: center;
    align-items: center;
    justify-content: center;
    margin-left: 1%;
}

.caroulsel-grid img {
    width: 420px;
    height: 600px;
    border-radius: 1%;
}

.card {
    border-radius: 3%;
    border-color: var(--color-green-300);
    border: 5%;
}

.cenario-card {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-title-text {
    display: flex;
    justify-content: center;
}

.card-title-text h1 {
    font-size: 60px;
    text-shadow: 2px 2px var(--color-blue-500);
}

.card-text {
    font-size: 1.5rem;
    font-weight: 200;
}



@media (max-width:900px) {
    .card-text {
        font-size: 1.13rem;
    }

    .caroulsel-grid img {
        width: 420px;
        height: 420px;
    }
}