:root {
    --font-title: "Sour Gummy", sans-serif;
    --font-subtitle: "Funnel Sans", sans-serif;
    --color-light-900: aliceblue;
    --color-green-300: #00bf63;
    --color-blue-200: #3f58cb;
    --color-blue-500: #5272ffc0;
    --color-orange-300: #ff914d;
    --color-brown-100: #845104;
    --color-red-100: #d41111;
    --color-black-100: black;
    --color-golden-100: #ffdd5a;
    --color-black-900: rgb(25, 25, 25);
    --gradient-top-1: linear-gradient(to top, rgba(0, 0, 0, .9), rgba(0, 0, 0, .5));
    --gradient-top-2: linear-gradient(to top, var(--color-blue-500), var(--color-blue-500));
    --bg-video: rgba(0, 0, 0, 0.8);
    --text-shadow: 2px, 2px, 2px;
    --o-animation: scale-change 2.5s ease-in-out infinite;
    --o-animation-shadow-light: shadow-light 2.5s ease-in-out infinite;
    --o-animation-shadow-green: shadow-green 2.5s ease-in-out infinite;
}

* {
    margin: 0px;
    padding: 0px;
}

h1 {
    font-family: var(--font-title);
    font-weight: 700;
    color: var(--color-light-900);
}

h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-subtitle);
}

p {
    font-family: var(--font-title);
    font-weight: 100;
}

ul {
    list-style-type: none;
}

.shadow-light {
    animation: var(--o-animation-shadow-light);
}

.shadow-green {
    animation: var(--o-animation-shadow-green);
}

.scale-change {
    animation: var(--o-animation);
}

.primary-container {
    transition: 0.3s ease;
}

.navbar {
    position: relative;
    top: 20px;
    display: flex;
    margin: auto;
    justify-content: center;
    background-color: var(--color-blue-500);
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 10px;
}

.navbar-nav {
    display: flex;
    margin:auto;
    justify-content: center;
    align-items: center;
}

.navbar-brand {
    font-size: 40px;
    color: aliceblue;
}

.navbar-brand:hover,
.navbar-brand:focus {
    font-size: 40px;
    color: var(--color-golden-100)
}

.navbar-toggler {
    box-shadow: none !important;
    border-color: var(--color-red-100);
    border-width: 2px;
    background-color: var(--color-red-100);
}

.bi-filter-right {
    color: var(--color-light-900);
    font-size: 25px;
}

.nav-item {
    margin: auto;
}

.navbar-text {
    margin: auto;
}

.nav-item a {
    font-family: var(--font-title);
    font-weight: 200;
    color: aliceblue;
    font-size: 30px;
}

.nav-item a:hover,
.nav-item a:focus {
    color: var(--color-red-100);
}

.first-page {
    min-height: 100vh;
    position: relative;
    top: 0;
}

.first-page::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: var(--bg-video);
    background: var(--gradient-top-1);
    z-index: -1;
}

.first-page-video {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.cta {
    width: 100%;
    min-height: 80vh;
    margin: auto;
    margin-top: 3%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.cta h1 {
    color: var(--color-light-900);
    font-weight: 700;
    text-shadow: 2px 2px var(--color-blue-500);
}

.secondary-container {
    transition: 0.3s ease;
}

.second-page {
    min-height: 80vh;
    position: relative;
    top: 0;
    background-color: var(--color-orange-300);
}

.cards-characters {
    min-height: 79vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
}

.card {
    width: 60%;
    height: 100%;
    object-fit: cover;
}

.card img {
    width: 720px;
    height: 480px;
    cursor: pointer;
    filter: brightness(0.7);
    transition: 0.7s;
    border-radius: 3%;
}

.card img:hover {
    filter: brightness(1);
}

.thirdy-container {
    transition: 0.3s ease;
}

.third-page {
    min-height: 100vh;
    position: relative;
    top: 0;
    display: flex;
    gap: 10px;
    background: var(--gradient-top-2);
}

.caroulsel-grid {
    min-height: 95vh;
    width: 50%;
    display: flex;
    align-items: center;
    align-items: center;
    justify-content: center;
    margin-left: 1%;
}

.caroulsel-grid img {
    width: 420px;
    height: 600px;
    border-radius: 1%;
}

.card {
    border-radius: 3%;
    border-color: var(--color-green-300);
    border: 5%;
    margin-right: 1%;
}

.cenario-card {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-title-text {
    display: flex;
    justify-content: center;
}

.card-title-text h1 {
    font-size: 60px;
    text-shadow: 2px 2px var(--color-blue-500);
}

.card-text {
    font-size: 2rem;
    font-weight: 200;
}

.fourth-container {
    transition: 0.3s ease;
}

.four-page {
    min-height: 100vh;
    position: relative;
    top: 0;
    background-color: var(--color-blue-500);
}

.caroulsel-images-game {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    animation: shadow-light 5s ease-in-out infinite;
}

.caroulsel-images-game img {
    width: 1280px;
    height: 720px;
    border-radius: 1%;
}

.fifth-container {
    transition: 0.3s ease;
}

.five-page {
    min-height: 100vh;
    position: relative;
    top: 0;
    background-color: var(--color-black-100);
}

.social {
    min-height: 80vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.instagram-images {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-light-900);
    gap: 30%;
    margin-top: 5%;
}

.instagram-images li {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.instagram-images i {
    font-size: 60px;
    color: var(--color-light-900);
    background-color: var(--color-black-900);
    padding: 10px;
    border-radius: 10px;
}

.instagram-images i:hover {
    color: var(--color-red-100);
    background-color: var(--color-light-900);
    font-size: 70px;
}

.instagram-images p {
    font-size: 30px;
    font-family: var(--font-subtitle);
}

.figure-fluid h2 {
    font-size: 40px;
    margin-top: 10%;
    color: var(--color-light-900);
}

.figure-fluid img {
    border-radius: 5%;
    background-color: var(--color-black-900);
    margin-top: 2%;
}

.figure-fluid img:hover {
    scale: 1.1;
    background-color: var(--color-light-900);
}


@media (max-width:900px) {

    .card {
        width: 90%;
    }

    .card img {
        width: 480px;
        height: 240px;
    }

    .card-text {
        font-size: 1.5rem;
    }

    .caroulsel-grid img {
        width: 420px;
        height: 420px;
    }
}